/* Header */

.top-header {
    background-color: white;
    font-size: 13px;
    padding: 5px 0;
    height: 30px;
    display: flex;

}

.top-header .top-header-link {
    display: flex;

}
.top-header .location p {
    margin-bottom: 0px;
}

.top-header-left {
    width: 4300px;
}

.top-header-right {
    height: 30px;
    width: 500px;
    display: flex;
}

.bottom-header {
    padding-left: 400px;
}
.bottom-header ul {
    margin-bottom: 0px;
    padding: 0;

}

.bottom-header ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;

}

.header-line {
    margin: 0;
}

                            /* body  */

.container .main-content {
    margin: auto;
}

.container .main-content .sidebar-and-ads {
    margin-top: 15px;
    display: flex;
}

.container .main-content .sidebar-and-ads .sub-image {
    padding: 0 10px 10px 10px;
}

.container .main-content .sidebar-and-ads .sub-image .image img{
    width: 210px;
    height: 127px;

}

.container .main-content .sidebar-and-ads .sub-image .image {
    width: 240px;
    height: 130px;
    margin-bottom: 15px;


}


/* Admin */
.admin-list {
    height: 100%;
    width: 40%;
    margin: auto;
}






